
body{
  background-color:hsl(212, 45%, 89%);
}

.card{
  margin: auto;
  margin-top: 7%;
  flex-direction: column;
  border: 2px ;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 250px;
  background-color: white;
  border-radius: 20px;


}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


img{
  height: 200px;
  width:200px;
  margin-top: 20px;
  border-radius: 10px;
  
}


h3,p {
  font-family: 'Outfit', sans-serif;
  
  margin-left: 20px;
  margin-right: 20px;
}


p{
 color: hsl(217, 6%, 55%);
 font-weight: 400;
}

h3{
  font-weight: 700;
}